<div class="container">
  <h1>FHIR Validator</h1>
  <form action="<%= base_path %>/validate" method="post" enctype="multipart/form-data">
    <div class="jumbotron">
      <div class="form-group">
        <label for="resource_field">Paste your FHIR resource here:</label>
        <textarea name="resource_field" id="resource_field" class="form-control disable-me" rows="8"></textarea>
        <br/>
        <div class="custom-file">
          <label for="resource" class="custom-file-label">Or upload a resource in a file:</label>
          <input type="file" name="resource" id="resource" class="custom-file-input" />
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="form-group">
        <div id="profile"
        data-profiles="<%= Base64.encode64(@profiles.to_json) %>"
        >
        </div>
      </div>
      <div class="form-group">
        <label for="profile_field">Or if you have your own profile, you can paste it here:</label>
        <textarea name="profile_field" id="profile_field" class="form-control disable-me custom-text-area disable-me-input" rows="8"></textarea>
        <br/>
        <div class="custom-file">
          <label for="profile_file" class="custom-file-label disable-me-textarea disable-me-input">Or upload your profile in a file:</label>
          <input type="file" name="profile_file" id="profile_file" class="custom-file-input disable-me-textarea disable-me-input" />
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" />
    </div>
  </form>
</div>
