<div class="container">
  <% if @validator.errors.empty? %>
    <h1>No validation errors found</h1>
  <% else %>
    <h1>Validation errors:</h1>
  <% end %>
  <ul>
    <% @validator.errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <% if @validator.warnings.empty? %>
    <h1>No validation warnings found</h1>
  <% else %>
    <h1>Validation warnings:</h1>
  <% end %>
  <ul>
    <% @validator.warnings.each do |warning| %>
      <li><%= warning %></li>
    <% end %>
  </ul>
</div>
