<div class="container">
  <%= erb(:issues, {}, {issues: @validator.fatals, severity: 'fatal'}) %>

  <%= erb(:issues, {}, {issues: @validator.errors, severity: 'error'}) %>

  <%= erb(:issues, {}, {issues: @validator.warnings, severity: 'warning'}) %>

  <%= erb(:issues, {}, {issues: @validator.informations, severity: 'information'}) %>
</div>
